{% extends "pemetaan_base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% block content %}
  {{util.flashed_messages(dismissible=True)}}
    <div class="container">
      <h1>Create New Event Type</h1>
      <form method="POST" action="{{url_for('mangan.create_mangan_event_type_page')}}?c_group={{ form.cg.data }}">
        {{ form.hidden_tag() }}
        <table>
          <tr>
            <td>{{ form.et.label }} </td><td>{{ form.et(size=70) }}</td>
          </tr>
          <tr>
            <td>{{ form.et_regex.label }} </td><td>{{ form.et_regex(size=70) }}</td>
          </tr>
          <tr>
            <td>{{ form.batch_size.label }} </td><td>{{ form.batch_size(size=20) }}</td>
          </tr>
          <tr>
            <td>{{ form.nakadi_endpoint.label }} </td><td>{{ form.nakadi_endpoint(size=70) }}</td>
          </tr>
          <tr>
            <td></td><td><input type="submit" value="Go"></td>
          </tr>
        </table>
      </form>
    </div>
{% endblock %}