{% extends "pemetaan_base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block scripts %}
    {{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='jquery.validate-json.js') }}"></script>

<script type="text/javascript">
    // see https://github.com/dustinboston/validate-json
         function validate_textarea() {
            $("#template_data").validateJSON({
            compress: false,
            reformat: true,
            onError: function () {
                console.log("blubb");
                $("#json_error").show();
            },
            onSuccess: function () {
                console.log("bla");
                $("#json_error").hide();
            }
        })}
        validate_textarea();
        $("#template_data").change(function() {validate_textarea()});

    // prevent creating and updating wrong JSON
         function validate_submit( event ) {
            $("#template_data").validateJSON({
            compress: false,
            reformat: true,
            onError: function () {
              event.preventDefault();
            },
            onSuccess: function () {
            }
        })}
        $( "form" ).submit(function(event) {validate_submit( event )});

</script>
{% endblock %}

{% block content %}
    {{util.flashed_messages(dismissible=True)}}
    <div class="container">
        <h1>Edit Template: </h1>
            <form method="POST" action="{{url_for('.saiki_templates_edit')}}">
            {{ form.hidden_tag() }}
            <p>{{ form.template_name.label }}</p>
            <p>{{ form.template_name(size=70) }}</p>
            <p>{{ form.template_data.label }}</p>
            <p>{{ form.template_data(cols=90, rows=40) }}</p>
            <p>
                <table>
                    <tr>
                        <td><input type="submit" value="Create/Update"></td>
                        <td><div id="json_error" class="inline_error">Invalid Json!</div></td>
                    </tr>
                </table>
            </p>
            </form>
    </div>
{% endblock %}