{% extends "pemetaan_base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% block content %}
  {{util.flashed_messages(dismissible=True)}}
    <div class="container">
      <h1>Create New Topic Mapping</h1>
      <form method="POST" action="{{url_for('.create_mangan_consumer_group_page')}}">
        {{ form.hidden_tag() }}
        <table>
          <tr>
            <td>{{ form.consumer_group.label }} </td><td>{{ form.consumer_group(size=70) }}</td>
          </tr>
          <tr>
            <td></td><td><input type="submit" value="Go"></td>
          </tr>
        </table>
      </form>
    </div>
{% endblock %}