{% extends "pemetaan_base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}


{% block content %}
{{util.flashed_messages(dismissible=True)}}
    <div class="container">
      <h1>Create New Topic</h1>
      <form method="POST" action="/topics/create">
    {{ form.hidden_tag() }}
    <table>
        <tr><td>{{ form.topic_name.label }} </td><td>{{ form.topic_name(size=20) }}</td></tr>
        <tr><td>{{ form.replication_factor.label }} </td><td>{{ form.replication_factor(size=20) }}</td></tr>
        <tr><td>{{ form.partition_count.label }} </td><td>{{ form.partition_count(size=20) }}</td></tr>
        <tr><td></td><td><input type="submit" value="Go"></td></tr>
      </table>
</form>
      

  </div>
{% endblock %}